:root {
  --submit-color: red;
  --submit-color-hover: darkred;
}
input[type="checkbox"], input[type="password"], input[type="text"], input[type="submit"], input[type="date"], input[type="time"], input[type="datetime-local"], textarea, .editorjs {color: var(--elem-color); background: var(--elem-color-inverse); width: 28vh; font-size: 1.5vh; font-family: regular, helvetica; padding: 1vh 1vh 1vh 1vh; border: none; outline: none;}
input[type="submit"] {background: var(--submit-color); color: white; padding: 1vh; cursor: pointer; transition: all 0.25s ease; border: none;}
  input[type="submit"]:hover {background: var(--submit-color-hover);}
  textarea {width: 40vh; height: 50vh;}
  .editorjs, .editor_preview {width: 48vh !important; height: 80vh !important; overflow-x: auto; float: left;}
    .editorjs table, .editorjs table tr, .editorjs table tr td {border: 1px solid var(--elem-color) !important; color: var(--elem-color);}
  input[type="checkbox"] {width: 5vh; height: 5vh;}
  input[type="time"], input[type="date"] {width: 15vh;}
form {padding: 0; margin: 0;}
  select {color: var(--elem-color); background: var(--elem-color-inverse); font-size: 1.8vh; padding: 0.63vh; display: list-item; list-style: none; float: left; font-family: regular; border: none; outline: none; margin-right: 1vh;}

    .editorjs::-webkit-scrollbar-track, .editor_preview::-webkit-scrollbar-track {background-color: transparent;}
    .editorjs::-webkit-scrollbar, .editor_preview::-webkit-scrollbar {width: 1vh; height: 1vh; background-color: transparent;}
    .editorjs::-webkit-scrollbar-thumb, .editor_preview::-webkit-scrollbar-thumb {background-color: var(--elem-color-inverse);}

      .editor_preview {background: var(--elem-color-inverse) !important; margin-left: 3vh; padding: 1vh;}
        .editor_preview .content {max-width: 60vh; padding: 2vh 0vh 4vh 0vh; text-align: left; z-index: 1; color: var(--elem-color) !important; height: auto;}
        .editor_preview p {width: 100%; color: var(--elem-color) !important;}
        .editor_preview .contenter {padding: 0 !important;}
        .editor_preview a, .editorjs a {color: var(--elem-color);}

        .editor_preview table, .editor_preview table tr {color: var(--elem-color) !important; border-color: var(--elem-color) !important;}

        .editor_preview h1 {font-size: 1.8vh; padding: 0.7vh 5vh 0.7vh 0.7vh; background: var(--elem-color); color: var(--elem-color-inverse); width: auto; float: left; clear: both; margin-bottom: 1vh; font-family: regular, helvetica; z-index: 1;}
          .editor_preview.partneri h1 {padding: 0; padding-bottom: 5vh; background: transparent; color: var(--elem-color); margin: auto; clear: none; float: none;}

        .editor_preview img {max-width: 50vh; max-height: 30vh;}
          .editor_preview.partneri img {max-width: 18vh; max-height: 12vh; padding: 0 8vh 10vh 0; vertical-align: middle; transition: all 0.3s ease;}

.ispng.day {filter: invert(1);}

#menu_admin {margin-bottom: 4vh !important;}
#reloader {animation: flash 2s infinite;}
#reloader:hover {animation: none;}

  #m_novinky, #m_eventy, #m_kategorie, #m_bloky, #m_venues, #m_program, #m_kino, #m_chat, #m_rezim, #m_rocnik, #m_about, #m_kontakty, #m_partneri, #m_partneri_kat {color: white;}
  #m_novinky, #m_about, #m_kontakty {background-image: linear-gradient(to right, #6699FF 50%, var(--elem-color) 50%);}
  #m_partneri, #m_partneri_kat {background-image: linear-gradient(to right, #CC88FF 50%, var(--elem-color) 50%);}
  #m_eventy, #m_kategorie {background-image: linear-gradient(to right, #FF6666 50%, var(--elem-color) 50%);}
  #m_program, #m_venues, #m_bloky {background-image: linear-gradient(to right, #00CC66 50%, var(--elem-color) 50%);}
  #m_kino, #m_chat {background-image: linear-gradient(to right, #FF66CC 50%, var(--elem-color) 50%);}
  #m_rezim, #m_rocnik {background-image: linear-gradient(to right, #000099 50%, var(--elem-color) 50%);}

  #admin_menu .link:hover, #admin_menu .link.selected {color: var(--elem-color-inverse);}

@keyframes flash {
    0%   {opacity: 0;}
    10%  {opacity: 1;}
    90%  {opacity: 1;}
    100% {opacity: 0;}
}

.wrong {background: var(--submit-color-hover) !important; color: white !important; animation: wiggle_input 0.3s;}

.seznam, .form {border-collapse: collapse;}
  .seznam {position: relative; margin-bottom: 20vh;}
  .seznam th {text-align: center; position: sticky; top: 0px; background: var(--elem-color); color: var(--elem-color-inverse);} /* background: var(--elem-color); color: var(--elem-color-inverse); */
  .seznam tr td, .form tr td, .seznam th {padding: 1.5vh; border-bottom: 1px solid var(--elem-color-inverse);}
    .form tbody tr:last-child td {border: none;}
  .seznam tbody tr td:last-child {padding-right: 0px;}
  .seznam thead th:last-child {padding-right: 1.5vh;}
  .form .desc {color: gray; padding-top: 1vh; font-size: 1.2vh;}

  .seznam th:first-child, .seznam tr td:first-child, .form tr td:first-child {padding-left: 0; text-align: left;}
  .seznam thead th:last-child, .seznam tr td:last-child {padding-right: 0; text-align: right;}
    .form tr td:first-child {vertical-align: top;}
    .form tr td:last-child {padding-right: 0;}
    .form tr:last-child td:last-child input[type="submit"] {float: right;}

    .seznam tr td:last-child div {float: right; margin-bottom: 0;}
      .seznam tr td:last-child div:first-child {margin-right: 0;}

    .form tr.hidden {display: none;}

  #db_form {padding-bottom: 10vh;}
  #stream_tester {width: 30vh; height: 17vh; background: gray; position: relative; margin-top: 1vh;}
  /* #platno .video::before {display: block; content: ""; padding-top: 56.25%;} */
    #stream_tester iframe {position: absolute; width: 100%; height: 100%; top: 0; left: 0;}

        body::-webkit-scrollbar-track {background-color: transparent;}
        body::-webkit-scrollbar {width: 1vh; height: 1vh; background-color: transparent;}
        body::-webkit-scrollbar-thumb {background-color: var(--elem-color-inverse);}

  .content {height: 20vh; position: relative;}

  .color {width: 10vh; height: 4vh;}

  .thumb {border: 0.5vh solid var(--elem-color); height: 9vh; transition: all 0.25s ease;}
  .thumb:hover {cursor: pointer; border: 0.5vh solid var(--elem-color-inverse);}
  .thumb_input, .video_input {display: none;}
  .thumb_form {text-align: center;}

  .delete, .copyme, .changeyear, .entertits, .help {font-size: 1.8vh; padding: 0.7vh 4vh 0.7vh 0.7vh; display: list-item; list-style: none; float: left; background-size: 200% 100%; background-image: linear-gradient(to right, var(--elem-color-inverse) 50%, var(--elem-color) 50%); transition: all 0.5s ease; color: var(--elem-color); margin-right: 1vh;}
      .copyme, .changeyear, .entertits {padding-right: 0.7vh; background-image: linear-gradient(to right, #00CC66 50%, var(--elem-color) 50%);}
      .help {background-image: linear-gradient(to right, gray 50%, var(--elem-color) 50%); margin-bottom: 1vh; color: black;}
    .copyme.ok {background: #000099; color: white;}
      .copyme.ok:hover {color: white;}
    .delete:hover, .copyme:hover, .delete.selected, .changeyear:hover, .entertits:hover, .help:hover {background-position: 100% 0; cursor: pointer; color: var(--elem-color-inverse);}

    #helpvideo {width: 100%; float: left; display: none;}
      #helpvideo img {max-width: 100%;}
      #helpvideo #navod {width: 50%;}

      #navod ul.arr {list-style: none;}
      #navod ul > li {padding: 1vh 0;}
      #navod ul.arr > li:before {content: "↓ ";}
      #navod ul.arr > li:last-child:before {content: "⦿ ";}

  @keyframes wiggle_input {
      0%   {transform: translateX(-0.5vh);}
      25%  {transform: translateX(0.5vh);}
      50%  {transform: translateX(-0.5vh);}
      75%  {transform: translateX(0.5vh);}
      100% {transform: translateX(0vh);}
  }
